.rtm-transcoding-api-key, .rtm-transcoding-key-action{
	margin: 0 0 10px 0;
}

.rtm-encoding-table {
	border-collapse: collapse;
	clear: none;
	th,td {
		border: 1px solid #e7e7e7;
	}
	th {
		font-size: 13px;
		font-weight: 600;
	}
}